footer { @extend %bg;
     i{ color: #95e1d3;} 
     h4{ font-size: 14;
         font-family:"Montserrat" ;} 
         form{
              button{
background-color:#95e1d3;
   color: white;
               }  
           }
   }